<div
    data-radix-popper-content-wrapper=""
    id="custom-filter-modal"
    dir="ltr"
    style="
        position: fixed;
        left: 0px;
        top: 0px;
        min-width: max-content;
        --radix-popper-transform-origin: 0% 0px;
        z-index: 50;
        --radix-popper-available-width: 1043px;
        --radix-popper-available-height: 878px;
        --radix-popper-anchor-width: 18px;
        --radix-popper-anchor-height: 18px;
    "
>
    <div
        data-side="bottom"
        data-align="start"
        role="menu"
        aria-orientation="vertical"
        data-state="open"
        data-radix-menu-content=""
        dir="ltr"
        id="radix-:r3v:"
        aria-labelledby="radix-:r3u:"
        class="z-50 max-w-xs rounded-2xl popover bg-token-main-surface-primary shadow-lg will-change-[opacity,transform] radix-side-bottom:animate-slideUpAndFade radix-side-left:animate-slideRightAndFade radix-side-right:animate-slideLeftAndFade radix-side-top:animate-slideDownAndFade border border-token-border-light py-2 overflow-hidden"
        tabindex="-1"
        data-orientation="vertical"
        style="
            outline: none;
            --radix-dropdown-menu-content-transform-origin: var(
                --radix-popper-transform-origin
            );
            --radix-dropdown-menu-content-available-width: var(
                --radix-popper-available-width
            );
            --radix-dropdown-menu-content-available-height: var(
                --radix-popper-available-height
            );
            --radix-dropdown-menu-trigger-width: var(
                --radix-popper-anchor-width
            );
            --radix-dropdown-menu-trigger-height: var(
                --radix-popper-anchor-height
            );
        "
    >
        <div
            id="filter-none"
            role="menuitem"
            class="flex items-center m-1.5 p-2.5 text-sm cursor-pointer focus-visible:outline-0 radix-disabled:pointer-events-none radix-disabled:opacity-50 group relative hover:bg-[#f5f5f5] focus-visible:bg-[#f5f5f5] radix-state-open:bg-[#f5f5f5] dark:hover:bg-token-main-surface-secondary dark:focus-visible:bg-token-main-surface-secondary rounded-md my-0 px-3 mx-2 dark:radix-state-open:bg-token-main-surface-secondary gap-2.5 py-3"
            tabindex="-1"
            data-orientation="vertical"
        >
            <div
                class="flex items-center justify-center text-token-text-secondary h-5 w-5"
            >
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 shrink-0"
                >
                    <line
                        x1="6"
                        y1="6"
                        x2="18"
                        y2="18"
                        stroke="#5896FF"
                        stroke-width="2"
                    />
                    <line
                        x1="6"
                        y1="18"
                        x2="18"
                        y2="6"
                        stroke="#5896FF"
                        stroke-width="2"
                    />
                </svg>
            </div>
            Clear
        </div>

        <div
            id="filter-work"
            role="menuitem"
            class="flex items-center m-1.5 p-2.5 text-sm cursor-pointer focus-visible:outline-0 radix-disabled:pointer-events-none radix-disabled:opacity-50 group relative hover:bg-[#f5f5f5] focus-visible:bg-[#f5f5f5] radix-state-open:bg-[#f5f5f5] dark:hover:bg-token-main-surface-secondary dark:focus-visible:bg-token-main-surface-secondary rounded-md my-0 px-3 mx-2 dark:radix-state-open:bg-token-main-surface-secondary gap-2.5 py-3"
            tabindex="-1"
            data-orientation="vertical"
        >
            <div
                class="flex items-center justify-center text-token-text-secondary h-5 w-5"
            >
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 shrink-0"
                >
                    <circle cx="12" cy="12" r="10" fill="#FF6C5F" />
                </svg>
            </div>
            Work
        </div>

        <div
            id="filter-personal"
            role="menuitem"
            class="flex items-center m-1.5 p-2.5 text-sm cursor-pointer focus-visible:outline-0 radix-disabled:pointer-events-none radix-disabled:opacity-50 group relative hover:bg-[#f5f5f5] focus-visible:bg-[#f5f5f5] radix-state-open:bg-[#f5f5f5] dark:hover:bg-token-main-surface-secondary dark:focus-visible:bg-token-main-surface-secondary rounded-md my-0 px-3 mx-2 dark:radix-state-open:bg-token-main-surface-secondary gap-2.5 py-3"
            tabindex="-1"
            data-orientation="vertical"
        >
            <div
                class="flex items-center justify-center text-token-text-secondary h-5 w-5"
            >
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 shrink-0"
                >
                    <circle cx="12" cy="12" r="10" fill="#FFCF20" />
                </svg>
            </div>
            Personal
        </div>

        <div
            id="filter-misc"
            role="menuitem"
            class="flex items-center m-1.5 p-2.5 text-sm cursor-pointer focus-visible:outline-0 radix-disabled:pointer-events-none radix-disabled:opacity-50 group relative hover:bg-[#f5f5f5] focus-visible:bg-[#f5f5f5] radix-state-open:bg-[#f5f5f5] dark:hover:bg-token-main-surface-secondary dark:focus-visible:bg-token-main-surface-secondary rounded-md my-0 px-3 mx-2 dark:radix-state-open:bg-token-main-surface-secondary gap-2.5 py-3"
            tabindex="-1"
            data-orientation="vertical"
        >
            <div
                class="flex items-center justify-center text-token-text-secondary h-5 w-5"
            >
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 shrink-0"
                >
                    <circle cx="12" cy="12" r="10" fill="#5896FF" />
                </svg>
            </div>
            Misc
        </div>
    </div>
</div>
